*{
    max-width: 100%;
    font-family: 'Work Sans', sans-serif;
    text-align:center;
    align-items: center;
}
html{
    box-sizing: content-box;
}
.pantalla{
    vertical-align:100%;
    display:inline-flex ;
    align-items: center;
    text-align: center;
    margin-top: 200px;
   
}
#name{
    font-family: 'Acme', sans-serif;
    width: 250px;
    height: 35px;
    background-color:lavender;
    margin-left: 3px; 
    font-size: 25px;
    border-radius: 5px;
    border: 3px solid rgb(178, 197, 197);
    color:darkslategrey;
    border-left: 0px transparent;
}
#paint{
    font-family: 'Acme', sans-serif;
    width: 85px;
    height: 35px;
    background-color:lavender;
    font-size: 25px;
    border-radius: 5px;
    border: 3px solid rgb(178, 197, 197);
    border-right: 0px transparent;
    
}
#cambiacolor{
    font-size:22px;
    width: 200px;
    height: 50px;
    margin: 2%;
    border-radius: 5px;
    border: 3px solid transparent;
    background-color:rgb(199, 211, 211);
    color:dodgerblue;
}

:hover#cambiacolor{
    box-shadow: 2px 3px 15px 5px rgb(255, 255, 255);

}